{% extends "base.html" %}
{% block page_content %}
    <div class="row">


        <div class="col-md-6">


            <form role="form" action="add_story" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.title(class='form-control', placeholder='标题') }}
                </div>
                {% for error in form.errors.title %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div class="form-group">
                    <br>{{ form.content(class='form-control', rows=6, placeholder='内容') }}
                </div>
                {% for error in form.content.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div class="form-group">
                    <br>{{ form.author(class='form-control', placeholder='作者') }}
                </div>
                {% for error in form.errors.author %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div class="form-group">
                    <br>{{ form.nick_name(class='form-control', placeholder='昵称') }}
                </div>
                {% for error in form.nick_name.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div class="form-group">
                    <br>{{ form.category(class='form-control') }}
                </div>
                {% for error in form.category.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                {% if current_user.is_authenticated() %}
                    <button class="btn btn-success btn-lg" type="submit">提交</button>
                {% endif %}
                <button class="btn btn-danger btn-lg" type="reset">重置</button>
                {% if current_user.is_authenticated() %}
                    <a href="{{ url_for('show_storys') }}" role="button" class="btn btn-default btn-lg">查看所有故事</a>
                {% else %}
                    <a href="{{ url_for('register') }}" role="button" class="btn btn-default btn-lg">注册</a>
                {% endif %}
            </form>
            <br>

        </div>


        <div class="col-md-6">

            {% if current_user.is_authenticated() %}
                <p>Welcome <code>{{ current_user.username|striptags|title }}</code>, You can click below button to see
                    ajax story demo...</p>
                <a href="#" role="button" class="btn btn-primary">click</a>
            {% endif %}

        </div>
    </div>
{% endblock %}