{% extends "base.html" %}
{% block page_content %}
    <div class="row">
        <div class="col-md-3">
            left
        </div>

        <div class="col-md-6">

            <form role="form" action="login" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.email.label }}
                    <div class="input-group input-group-lg">

                        {{ form.email(class='form-control', placeholder='邮箱地址') }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.password.label }}
                    <div class="input-group input-group-lg">

                        {{ form.password(class='form-control', placeholder='密码') }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            {{ form.remember_me(type='checkbox') }} 记住我
                        </label>
                    </div>
                </div>

                <button class="btn btn-primary btn-default btn-lg" type="submit">登录</button>
                <a href="{{ url_for('register') }}" role="button" class="btn btn-default btn-lg">注册</a>

            </form>
        </div>

        <div class="col-md-3">
            right
        </div>
    </div>

{% endblock %}